# Ignorar entornos virtuales
venv/
env/

# Ignorar node_modules
node_modules/

# Ignorar caché de Python
__pycache__/
*.pyc

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar configuraciones de IDE
.vscode/
.idea/
